html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: gray;
  overflow: hidden;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  background-color: white;
}

pre code {
  user-select: text;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

.ace_layer,
.ace_gutter {
  transition: width 0.3s 0s;
}

.ace_scroller {
  user-select: all;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.login-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px 2px;
  background-color: white;

  input {
    font: inherit;
    color: inherit;
    background-color: inherit;
    padding: 2px 5px;
    border: gray 2px solid;
    border-radius: 5px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: border-color 0.3s 0s;

    &:focus {
      border-color: orange;
    }
  }
}

.group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  button {
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.ranking-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 5px 0;
  transition: transform 0.3s 0s, top 0.3s 0s, right 0.3s 0s;
}

.ranking {
  padding: 5px;
  height: 40px;
  line-height: 40px;
  translate: transform 0.3s 0s;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px 2px;

  pre {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    font: inherit;
    color: inherit;
    background-color: inherit;
  }
}

.myRanking {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.login {
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  button {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .addCharaButton {
    font-size: 35px;
    font-weight: bold;
  }
}

.startButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -20px);
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 4px 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: transform 0.3s 0s, box-shadow 0.3s 0s;
}

.editor {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 40px);
  height: 100vh;
  opacity: 0.95;
  box-shadow: rgba($color: #000000, $alpha: 0.2) -2px 0 4px 0;
  transition: transform 0.3s 0s;
  animation: editor 0.3s 0s;

  @keyframes editor {
    0% {
      transform: translate(100%, 0);
    }
  }
}

.editor-hide {
  transform: translate(100%, 0);
}

.editor-mini {
  width: 50vw;
}

.resource {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 100;

  &:before {
    content: "resource:";
    padding-right: 0.5em;
  }
}

.remove {
  transition: opacity 0.3s 0s;
  pointer-events: none;
  opacity: 0;
}

.gameover {
  display: flex;
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 1000000;
  animation: gameover 0.3s 0s;

  @keyframes gameover {
    0% {
      transform: translate(0, -100%);
    }
  }

  button {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    padding: 0 8px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 2px solid white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: transform 0.3s 0s;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000000;
  max-height: 100%;
  overflow: hidden;
  z-index: 2147483647;
}

.alert-contents {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 2px;
  color: #333;
  background-color: white;
  max-width: 300px;
  animation: alert-view 0.3s 0s;
}

.alert-warn {
  color: #333;
  background-color: yellow;
}

.alert-error {
  color: #fff;
  background-color: red;
}

@keyframes alert-view {
  0% {
    transform: translateX(100%);
  }
}

.alert-message {
  word-wrap: break-word;
}

.alert-remove {
  transition: transform 0.3s 0s;
  transform: translateX(100%);
}

.alert-button-content {
  text-align: right;
}

.alert-button-content button {
  margin: 4px;
}

@keyframes alert-look {
  25% {
    filter: contrast(200%);
  }
  75% {
    filter: contrast(200%);
  }
}

.alert-progressBar {
  width: 100%;
  height: 4px;
  background-color: rgb(100, 100, 100);
  position: relative;
}

.alert-progressBar div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 165, 0);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.3s 0s;
}

.alert-objectKey {
  display: inline-block;
  width: 80px;

  &:after {
    content: ":";
    padding-right: 5px;
  }
}

.sample {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  max-width: 50vw;
  height: 100%;
  padding: 5px;
  transition: transform 0.3s 0s;
  box-shadow: rgba($color: #000000, $alpha: 0.2) -2px 0 4px 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  overflow-y: auto;

  h2 {
    margin: 0 5px;
    border-bottom: 2px gray solid;
    font-family: inherit;
  }

  h3 {
    font: inherit;
  }
}

.sample-hide {
  transform: translate(100%, 0);
}

.sample-button {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 0px;
  padding: 0;
  color: inherit;
  background-color: orange;
  cursor: pointer;
  z-index: 10000;
  outline: none;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: transform 0.3s 0s;
}
