@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qegioj');
  src:  url('fonts/icomoon.eot?qegioj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qegioj') format('truetype'),
    url('fonts/icomoon.woff?qegioj') format('woff'),
    url('fonts/icomoon.svg?qegioj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-js:before {
  content: "\ec19";
}
.icon-align-left:before {
  content: "\e913";
}
